<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ync.mapper.GameInfoMapper">


	<select id="getGamesList"
		resultType="kr.ac.ync.domain.GameInfoVO">
	<![CDATA[
		select * 
			from game_info, genre, size_spec
			where game_info.genre_id = genre.genre_id
            and game_info.size_id = size_spec.size_id
		]]>
	</select>

	<select id="getGamesListforSale"
		resultType="kr.ac.ync.domain.GameInfoVO">
	<![CDATA[
		select * 
			from game_info, genre, size_spec
			where game_info.genre_id = genre.genre_id
            and game_info.size_id = size_spec.size_id
            and sale_enabled = 1
		]]>
	</select>

	<select id="getGamesListforNew"
		resultType="kr.ac.ync.domain.GameInfoVO">
	<![CDATA[
				select * 
			from game_info, genre, size_spec
			where game_info.genre_id = genre.genre_id
            and game_info.size_id = size_spec.size_id
            order by relase_date desc
		]]>
	</select>

	<select id="getDetail" resultType="kr.ac.ync.domain.GameInfoVO">
		select *
		from game_info, genre,
		size_spec
		where game_num = #{game_num}
		and game_info.genre_id =
		genre.genre_id
		and game_info.size_id = size_spec.size_id

	</select>

	<select id="getGenre" resultType="kr.ac.ync.domain.GameInfoVO">
		select * from genre
	</select>
	<select id="getSizeSpec"
		resultType="kr.ac.ync.domain.GameInfoVO">
		select * from size_spec
	</select>

	<insert id="insert">
		INSERT INTO game_info (game_num, title, korean, dev,
		publisher, platform, price, sale_price, sale_enabled, relase_date,
		genre_id, size_id, rec_id, info, file_1, file_2, file_3)
		VALUES
		(seq_gamenum.nextval, #{title}, #{korean}, #{dev}, #{publisher},
		#{platform}, #{price}, #{sale_price}, #{sale_enabled}, #{relase_date},
		#{genre_id}, #{size_id}, #{rec_id}, #{info, jdbcType=VARCHAR},
		#{file_1, jdbcType=VARCHAR}, #{file_2, jdbcType=VARCHAR}, #{file_3,
		jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="game_num" order="BEFORE"
			resultType="int">
			select seq_gamenum.nextval from dual
		</selectKey>

		INSERT INTO game_info (game_num, title, korean, dev, publisher,
		platform, price, sale_price, sale_enabled,
		relase_date, genre_id,
		size_id, rec_id, info, file_1, file_2, file_3)
		VALUES
		(#{game_num},
		#{title}, #{korean}, #{dev}, #{publisher}, #{platform},
		#{price},
		#{sale_price}, #{sale_enabled},
		#{relase_date}, #{genre_id},
		#{size_id}, #{rec_id}, #{info, jdbcType=VARCHAR},
		#{file_1, jdbcType=VARCHAR}, 
		#{file_2, jdbcType=VARCHAR}, 
		#{file_3, jdbcType=VARCHAR})
	</insert>

	<delete id="delete">
		DELETE FROM game_info WHERE game_num = #{game_num};
	</delete>

	<update id="update">
		UPDATE game_info SET 	title= #{title},
								dev = #{dev},
								publisher = #{publisher},
								korean = #{korean},
								platform = #{platform},
								price = #{price},
								sale_price = #{sale_price},
								sale_enabled =
								#{sale_enabled},
								relase_date = #{relase_date},
								genre_id = #{genre_id},
								size_id = #{size_id},
								rec_id = #{rec_id},
								info = #{info,
								jdbcType=VARCHAR},
								file_1 = #{file_1, jdbcType=VARCHAR},
								file_2 = #{file_2, jdbcType=VARCHAR},
								file_3 = #{file_3, jdbcType=VARCHAR}
		WHERE
		game_num = #{game_num}
	</update>




	<!-- <select id="read" resultType="kr.ac.ync.domain.BoardVO"> SELECT * from 
		tbl_board WHERE bno = #{bno} </select> -->

</mapper>
