<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ync.mapper.NewsMapper">

 
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							news_title LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							news_contents LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="getNewsList" resultType="kr.ac.ync.domain.NewsVO">
	<![CDATA[
		SELECT * FROM news WHERE news_num > 0 
		]]>
	</select>
	
		<select id="getNewsDetail" resultType="kr.ac.ync.domain.NewsVO">
		select *
		from news
		where news_num = #{news_num}

	</select>


	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM news WHERE 
		<include refid="criteria"></include> 
		news_num > 0
	</select>
	
		<insert id="insert">
			INSERT INTO news (news_num, news_title, news_date, userid, gubun, news_contents, file_1, file_2, file_3)
			VALUES
			(seq_news.nextval, 
			#{news_title},
			sysdate,
			#{userid},
			#{gubun},
			#{news_contents, jdbcType=VARCHAR},
			#{file_1, jdbcType=VARCHAR}, 
			#{file_2, jdbcType=VARCHAR}, 
			#{file_3, jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="news_num" order="BEFORE"
			resultType="long">
			select seq_news.nextval from dual
		</selectKey>

		INSERT INTO news (news_num, news_title, news_date, userid, gubun, news_contents, file_1, file_2, file_3)
		VALUES
		(#{news_num}, 
		#{news_title},
		sysdate,
		#{userid},
		#{gubun},
		#{news_contents, jdbcType=VARCHAR},
		#{file_1, jdbcType=VARCHAR}, 
		#{file_2, jdbcType=VARCHAR}, 
		#{file_3, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		UPDATE news SET 		news_title = #{news_title},
								news_date = sysdate,
								gubun = #{gubun},
								userid = #{userid},
								news_contents = #{news_contents},
								file_1 = #{file_1, jdbcType=VARCHAR},
								file_2 = #{file_2, jdbcType=VARCHAR},
								file_3 = #{file_3, jdbcType=VARCHAR}
		WHERE news_num = #{news_num}
	</update>
	
	<delete id="delete">
		DELETE FROM news WHERE news_num = #{news_num}
	</delete>
	
</mapper>
